/* Global */
*{ margin: 0; padding: 0; box-sizing: border-box;}
ul {list-style: none;}
a { text-decoration: none;}
h1,h2,h3,h4,h5,h6,p{margin:0;padding:0}
body { background-color:#1A1818;}
.mxwidth { max-width: 1180px; margin: 0 auto;}
.sec_ttl {position: relative; font: 100 42px/52px 'Montserrat', sans-serif; color: #ffffff; text-align: left; text-transform: uppercase; margin-bottom: 30px;}
.sec_ttl::after { content: ""; position: absolute; bottom: -5px; left: 0; width: 50px; height: 2px; background-color: #D4AF37;}
.sec_sttl { font: 400 18px/14px Lato; color: #ffffff; text-transform: uppercase; letter-spacing: 2px; text-align: left; margin-bottom:60px;}

/* Header*/
.header { position: sticky; top: 0; background-color: #1a1818;  height: 100px; z-index: 999999; padding: 0 10px;}
.header .mxwidth { position: relative; display: flex; justify-content: flex-end; align-items: center; width: 100%; height: 100%; margin: 0 auto; z-index: 99;}
.nav__menu { display: flex;  gap: 25px;}
.nav__item { position: relative; }
.nav__item:last-child { padding-right: 0; border-right: 0px; margin-right: 0;}
.nav__link { font: 400 14px/26px 'Montserrat', sans-serif; text-transform: uppercase; color: #ffffff; white-space: nowrap;}
.nav__link.active {color: #D4AF37; font-weight: 700;}
.nav__logo__left {width: fit-content; height: auto; margin-right: 50px; margin-left: 125px;} 
.nav__logo__right { display: flex; align-items: center; gap: 10px; margin-left: auto;}
.nav__logo__right span {font: 400 12px/12px 'Open Sans'; text-transform: uppercase; color: #ffffff;}
.nav__logo__right img { max-width: 50px; height: auto;}
.hambgr {display: none; cursor: pointer;}
.hambgr__bar {display: block; width: 25px; height: 3px; margin: 5px auto; -webkit-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; background-color: #ffffff;}
.menu__close {display: none; position: absolute; top: 35px; right: 20px; transform: translate(0, -50%); cursor: pointer; transition: 0.3s; z-index: 9999;}
.menu__close.active { display: block; }
.sticky_logo { position: fixed; top: 0; left: 0; background-color: #000000; clip-path: polygon(100% 0, 100% 100%, 50% 85%, 0 100%, 0 0); z-index: 9; padding: 20px 40px 50px; transition: 0.5s; width: 280px;}
.sticky_logo.active { width: 150px; padding: 15px 20px 30px; background-color: rgba(0,0,0,.5); }
.sticky_logo img { width: 100%; height: auto;}




/* slider */
.glide{position:relative;width:100%;box-sizing:border-box}
.glide *{box-sizing:inherit}
.glide__track{overflow:hidden}
.glide__slides{position:relative;width:100%;list-style:none;backface-visibility:hidden;transform-style:preserve-3d;touch-action:pan-Y;overflow:hidden;margin:0;padding:0;white-space:nowrap;display:flex;flex-wrap:nowrap;will-change:transform}
.glide__slides--dragging{user-select:none}
.glide__slide{width:100%;height:100%;flex-shrink:0;white-space:normal;user-select:none;-webkit-touch-callout:none;-webkit-tap-highlight-color:transparent}
.glide__slide a{user-select:none;-webkit-user-drag:none;-moz-user-select:none;-ms-user-select:none}
.glide__arrows{-webkit-touch-callout:none;user-select:none}
.glide__bullets{-webkit-touch-callout:none;user-select:none;text-align: left;margin-left: 80px;}
.glide--rtl{direction:rtl}
.gstori .glide__arrow { width: 35px; height: 35px; position: absolute; display: flex; justify-content: center; align-items: center; color: #000; background-color: #D4AF37; box-shadow: 1px 4px 4px 2px rgba(0,0,0,.15); border: none; border-radius: 50%; cursor: pointer; top: 53%; transform: translate(0, -50%); }
.gstori .glide__arrow--left { left: 5px; }
.gstori .glide__arrow--right { right: 5px; }
.opgbs{position:absolute;z-index:2;bottom:20px;right:0;display:inline-flex;list-style:none;}
.opgb{background-color:#bbb;width:9px;height:9px;padding:0;border-radius:50%;border:2px solid transparent;transition:all 300ms ease-in-out;cursor:pointer;line-height:0;margin:0 .25em}
.glide__bullet--active{background-color:#D4AF37; width: 30px; border-radius: 5px; height: 2px; border: none; height: 4px;position: relative;top: 2px;}
.glide__bullet{width:30px; cursor: pointer;}







/* Footer */
.footer { background-color: #1a1818; padding: 30px 0;}
.footer .mxwidth { display: flex; justify-content: space-between; align-items: center; }
.footer__cprght { font: 400 16px/24px 'Montserrat', sans-serif; color: #CCCCCC; }
.footer__menu {display: flex;}
.footer__item {padding-right: 5px;border-right: 1px solid #a4a5a5;margin-right: 5px; }
.footer__item:last-child { margin-right: 0px; padding-right: 0px; border-right: none;}
.footer__link { font: 400 11px/13px 'Montserrat', sans-serif; color: #CCCCCC; }
.footer__menu__icons { display: flex; flex-direction: column; align-items: center; gap: 10px;}
.footer__social { display: flex; gap: 10px;}
.footer__social li { width: 40px; height: 40px;}
.footer__social li a { display: block; }
.footer__social li a img { width: 100%; height: 100%;}



   /* Footer */
   .footer { padding: 25px 10px;}
   .footer .mxwidth { flex-direction: column; gap: 10px;}
   .footer__cprght { font: 400 12px/14px 'Montserrat', sans-serif; text-align: center; margin-bottom: 5px; }
   .footer__social li { width: 30px; height: 30px;}
